{% assign workinprogress = site.data.data.workinprogress %}
{% if workinprogress %}
<section class="section workinprogress-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-hourglass fa-stack-1x fa-inverse"></i>
    </span>
    {{ workinprogress.title }}
  </h2>

  {% if workinprogress.intro %}
  <div class="intro">
    {{ workinprogress.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in workinprogress.papers %}
  <div class="item" style="margin-bottom: 20px;">
  <style> .item li {list-style: none;} </style>
    {% if publication.link %}
      <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
    {% else %}
      <li>{{ publication.title }}</li>
    {% endif %}
    <div class="publication-authors" style="margin-top: 2px;"><span style="font-style: normal;">{{ publication.authors }}</span></div>
    <div class="publication-conference">{{ publication.conference }}</div>
	<div class="publication-presented">{{ publication.presented }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}